.vs/
ElaBleCommunication/Note_Pack_Nuget.txt
ElaBleCommunication/ElaBleCommunication.1.0.0.nupkg
ElaBleCommunication/ElaBleCommunication.1.0.1.nupkg
ElaBleCommunication/bin/
ElaBleCommunication/nuget.exe
ElaBleCommunication/obj/
ElaBleCommunicationUI/bin/
ElaBleCommunicationUI/obj/
/obj/Debug/netcoreapp3.1
/obj/Debug/netstandard2.0
/ElaBleCommunication_Legacy/bin/Release
/ElaBleCommunication_Legacy/obj
/ElaBleCommunication_Legacy/bin/Debug
/ElaBleCommunication.Common/bin
/ElaBleCommunication.Common/obj
/ElaBleCommunication.Legacy/bin
/ElaBleCommunication.Legacy/obj
/TestWclLib
/TestPerformances/bin/Debug/netcoreapp3.1
/TestPerformances/obj
